h1{color:darkcyan; font-size: 75px;}
p{color:darkcyan; font-size: 40px;}
a{color:blueviolet; font-size: 75px;}

body{background-image: url(sandimg.jpeg);border:7px solid black;}
<img src= "njbjb" width= "fvtg" height= >